---
import "../styles/global.css";
import bgDarkVideo from "../assets/videos/bg_dark.mp4";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <div class="relative h-screen w-screen overflow-hidden">
      <video
        id="background-video"
        class="absolute top-0 left-0 w-full h-full object-cover"
        preload="auto"
        autoplay
        loop
        muted
      >
        <source src={bgDarkVideo} type="video/mp4" />
      </video>
      <div class="absolute top-0 left-0 w-full h-full backdrop-blur-lg"></div>
      <div class="relative z-10 flex items-center justify-center h-full">
        <slot />
      </div>
    </div>
  </body>
</html>